* {
    font-family: 'Courier New',
}

h1, 
h3{
    color: #b92b27 ;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27 ;
     color:  white
}

.upvote {
    background-color: green;
    color: white;
}

/* descendant selector */
.post a {
    color: purple;
    background-color: yellow;
}

nav a {
    color: hotpink;
}

p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}

div > input[type="text"]{
    background-color: darksalmon;
    color: #b92b27;
}

div > input[type="password"]{
    background-color: darksalmon;
    color: green;
}










#myid {
    color: green;
}
