/* * {
    font-family: 'Courier New', Courier, monospace;
}
h1 { text-align: center;
    color: #1b74e4;
}

.userbtn {
    background-color: aqua;

}

#searchbtn {
    color: white;
    background-color: black;
} 
button{
    background-color: aqua;   
} */

/* h1 {
    color: red;
    background-color: black ;
} */

/* h2 {
    color: orange;
}

button {
    color: white;
    background-color: blue;
}

p {
    color: white;
    background-color: black;
}

 */

 h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    text-size-adjust: 55px;
    font-weight: 900;
    word-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;

 }
    
